@model Note

@{
    var notePath = "wwwroot/Notes/local/" + Model.DescriptionFileName;
}

<div class="note-card-preview">

    <div class="note-title-preview">
        @{
            if (Model.DisplayTitle != null)
                @Model.DisplayTitle
            else
                @Model.Title
        }
    </div>

    <div class="note-description-preview">
        @{
            string? noteBuffer;
            using (StreamReader reader = new StreamReader(File.OpenRead(notePath)))
            {
                while(reader.Peek() >= 0) {
                    noteBuffer = reader.ReadLine();
                    string noteDescription = new string(noteBuffer);
                    @noteDescription
                    <br />
                }
            }
        }
    </div>

    <div class="note-date-preview">
        @Model.DateCreated
    </div>
</div>
