@{
    ViewBag.Tittle = "NoteApp main page";
}

@section Links{
        <link href="~/css/main.css" rel="stylesheet" />
}

@section SectionNav{
            <p> add note </p>
            <p> add event </p>
            <p> upcoming events </p>
}

<div class="box">
    <h1>Welcome</h1>
    <h5 class="low-priority-text">What would you like to do?</h5>

    <div class="options">
        <div>
            ➕ add note
        </div>

        <div>
            ➕ add event
        </div>

        <div>
            🔍 check my notes
        </div>

         <div>
            🔍 check my events
        </div>
    </div>
</div>