@{
    ViewBag.Tittle = "NoteApp main page";
}

@section Links{
        <link href="~/css/main.css" rel="stylesheet" />
}

@section SectionNav{
            <p> <a asp-action="AddNote" asp-controller="home"> add note </a> </p>
            <p> add event </p>
            <p> upcoming events </p>
}

<div class="box">
    <h1>Welcome</h1>
    <h5 class="low-priority-text">What would you like to do?</h5>

    <div class="options">
        
        <a asp-controller="home" asp-action="AddNote">
            <div> ➕ add note </div>
        </a>

        <a asp-controller="home" asp-action="AddNote">
            <div> ➕ add event </div>
        </a>

        <a asp-controller="home" asp-action="AddNote">
            <div> 🔍 check my notes </div>
        </a>

        <a asp-controller="home" asp-action="AddNote">
            <div> 🔍 check my events </div>
        </a>
    </div>
</div>